[submodule "InteractiveRaveLights/HSV-RGB-Conversion"]
	path = InteractiveRaveLights/HSV-RGB-Conversion
	url = git@github.com:william-redenbaugh/HSV-RGB-Conversion.git
[submodule "InteractiveRaveLights/pubsub-c"]
	path = InteractiveRaveLights/pubsub-c
	url = git@github.com:william-redenbaugh/pubsub-c.git
[submodule "coprocessor_src/Coprocessor/lib/NeoPixelConnect"]
	path = coprocessor_src/Coprocessor/lib/NeoPixelConnect
	url = git@github.com:william-redenbaugh/NeoPixelConnect.git
[submodule "stripCoProcessor/lib/NeoPixelConnect"]
	path = stripCoProcessor/lib/NeoPixelConnect
	url = git@github.com:MrYsLab/NeoPixelConnect.git
[submodule "InteractiveRaveLights/tiny-json"]
	path = InteractiveRaveLights/tiny-json
	url = https://github.com/rafagafe/tiny-json.git
[submodule "ipc_test/IPC Testing/lib/TeensyOS"]
	path = ipc_test/IPC Testing/lib/TeensyOS
	url = git@github.com:william-redenbaugh/TeensyOS.git
[submodule "InteractiveRaveLights/InteractiveRaveLights/TeensyOSCSAL"]
	path = InteractiveRaveLights/InteractiveRaveLights/TeensyOSCSAL
	url = git@github.com:william-redenbaugh/TeensyOSCSAL.git
